{# templates/import.html.twig #}
  {% extends 'base.html.twig' %}
  
{% block stylesheets %}
    {{ parent() }}
{#     {{ encore_entry_link_tags('import') }} #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#     {{ encore_entry_script_tags('import') }} #}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <br/>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.file) }}
                </div>
            </div>

            {{ form_rest(form) }}
            <br/>
            <button class="btn btn-success btn-lg btn-block" id="postSubmit">
                {{ button_label|default('Save') }}
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
